conformer==0.3.2
customtkinter==5.2.2
dicta_onnx==1.0.9
edge_tts==7.2.7
groq==1.1.1
huggingface_hub==0.36.2
imageio_ffmpeg==0.6.0
importlib_metadata==8.7.1
kokoro_onnx==0.5.0
librosa==0.11.0
movis==0.7.1
numpy==2.4.3
omegaconf==2.3.0
packaging==26.0
Pillow==12.1.1
protobuf==7.34.0
pydub==0.25.1
pykakasi==2.3.0
pyloudnorm==0.2.0
Requests==2.32.5
scipy==1.17.1
soundfile==0.13.1
tqdm==4.67.1
